body {
    font-family: 'Open Sans', "맑은 고딕",sans-serif;
    color:#222;
}
.container {
    width:1260px;
    margin:0 auto;
}
.clearFix:after , .container:after {
    content:"";
    display:block;
    clear: both;
}
h1 {
    font-size: 48px;
    text-align: center;
    margin: 80px 0;
    font-weight: 100;
}
h1 span {
    display:inline-block;
}
.filterBox {
    text-align:center;
    margin-bottom: 80px;
}
.filterBox li {
    /* float:left; */
    display:inline-block;
    /* outline:1px solid #fff; */
}
.filterBox li a {
    display:block;
    padding:10px 20px;
    font-size: 16px;
    background: #000;
    color:#fff;
    border-radius:50px;
    text-decoration: none;
}
.filterBox li.on a {
    background: #f00;
}


.typoList li {
    box-sizing:border-box;
    width:23%;
    margin:1%;
    padding:10px;
    float:left;
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);
    /* box-shadow:distx disty bluramount range rgba(0,0,0,0.15); */
    border:1px solid #ccc;
    background-color: #fff;
    transition: border 0.5s;
}

.typoList li:hover {
    border-color: firebrick;
}

.typoList li img {
    width:100%;
}

.typoList a {
    text-decoration: none;
    color: hotpink;
}

.typoList a h2 {
    font-size: 18px;
    margin: 15px 0;
    font-weight: bold;
}

.typoList a p {
    line-height: 1.5;
}

.imageNum {
    text-align: right;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 20px;
}

body {
    background-color: black;
}

