body {
    background-color: black;
    margin-right: 17px !important;
    overflow: hidden !important;
    /* 위 기법은 강제로 스크롤버튼 안보이게 하는 기능 */
}

h1 {
    position: absolute;
    left: 0px;
    top:0px;
}

#main01 {
    background-color: black;
    color: darkblue;
    position: relative;
}

.myself {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 100;
}

.myself .txt {
    display: inline-block;
}

.section {
    height: 100vh;
}

.myself #me {
    display: inline-block;
    font-weight: 700;
    color: crimson;
}

/* .myself .txt .ti {
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
} */
