body {
    background-color: black;
}

/* kakao_img_search.html css  */

.map {
    margin-top: 300px;
}

#thumbnailList {
    margin-top: 100px;
    overflow: hidden;
}

#thumbnailList li {
    float:left;
    border: 1px solid darkslategrey; 
    margin: 4px;
}

#thumbnailList li img {
    vertical-align: top;
}

#thumbnailList.naver li {
    width: 24%;
    margin: 0.5%;
    box-sizing: border-box;
}

#thumbnailList.naver li img {
   width: 100%;
}

#search {
    margin-top: 100px;
    text-align: center;
}

#search .inputBox {
    background-color: darkslategrey;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 100px;
}

#searchWord {
    display: inline-block;
    width: 300px;
    height: 24px;
    line-height: 24px;
    outline: none;
    border: none;
    vertical-align: top;
}

#search .btnSearch {
    background-color: tomato;
    border-radius: 100px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: none;
    font-size: 24px;
    vertical-align: top;
}

.btns {
    text-align: center;
    margin: 100px 0;
    clear: both;
}

.btns a {
    display: inline-block;
    background-color: darkslategrey;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 100px;
    color: darkturquoise;
    display: none;
}